body{
    background-color: rgba(211, 239, 239, 0.608); 
    margin: 0;
}
main{
    max-width: 1400%;
    margin: 0 8%;
    padding-top: 130px;
}
.barra-navagacion a{
    text-decoration: none;
    color: rgb(217, 195, 169);
}
a:hover{
    text-decoration: none;
    color: rgb(228, 247, 246);
}
h1{
    margin: 0;
    color: rgb(140, 245, 239);
}
header{
    width: 100%;
    font-family: Cambria;
    background-color: rgba(130, 203, 203, 0.989); 
    text-align: center;
    border-radius: 0.4rem;
    flex-direction: column;
    position: fixed;
}
header:hover{
    background-image: url("https://tse2.mm.bing.net/th?id=OIG2.dvcM_b_Dk22knjmI00IS&pid=ImgGn");
    transition: all 1.8s linear;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
label{
    background-color: rgba(30, 100, 100, 0.31);
    display: inline-block;
    border-radius: 0.7rem;
    width: 7em;
    margin-left: 0.6em;
    margin-top: 0.3em;
}
h3{
    font-family: Cambria;
    font-size: 27px;
}
dd{
    font-size: 20px;
}
#informacion{
    background-color: rgb(150, 209, 255);
    padding: 100px 20px;
}
#informacion details{
    font-size: 24px;
    display: inline;
}
#informacion ul{
    list-style: none;

}
#opiniones{
    background-color: rgb(43, 226, 134);
    padding: 100px 20px;
}
#maquetas{
    padding: 200px 12px;
    background-image: url("https://cdn.andro4all.com/andro4all/2016/07/fondos-pantalla-android-2.jpg?width=800");
    background-size: cover;
    background-repeat: no-repeat;
}
#contacto{
    background-color: rgb(150, 209, 255);
    padding: 200px 12px;
}
#piePagina{
    padding: 3%;
    text-align: center;
    background-color: rgba(46, 201, 225, 0.141);
    border-radius: 0.7rem;
}

