body {
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  background-color: #000;
  color: #eee8d5;
}

header {
  background-color: #8b0000;
  color: #eee8d5;
  text-align: center;
  padding: 1.5rem;
}

nav {
  background-color: #5c4033;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: #daa520;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  color: #fffacd;
}

.social-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.social-buttons a {
  background-color: #8b0000;
  color: #eee8d5;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 2px solid #daa520;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.social-buttons a:hover {
  background-color: #daa520;
  color: #000;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: #1a1a1a;
  border-left: 5px solid #8b0000;
}

h1, h2 {
  color: #daa520;
}

footer {
  background-color: #000;
  color: #999;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  border-top: 2px solid #8b0000;
}

.foto-perfil {
  width: 150px;           
  height: 150px;
  object-fit: cover;      
  border-radius: 50%;     
  border: 3px solid #DAA520;  
  margin: 1rem auto;      
  display: block;
}
