* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  font-family: "Rubik Mono One", monospace;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
}

nav h2 {
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  border: var(--grid-line-width) solid black;
  background-color: #fedc00;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

:root {
  --grid-columns: 27;
  --grid-rows: 13;
  --grid-line-color: black;
  --grid-line-width: 2px;
}

.main-grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  aspect-ratio: var(--grid-columns) / var(--grid-rows);
  position: relative;
  overflow: hidden;
  border-bottom: var(--grid-line-width) solid var(--grid-line-color);
  border-right: var(--grid-line-width) solid var(--grid-line-color);
}

.main-grid::before {
  content: "";
  position: absolute;
  z-index: 0;
  inset: 0;
  background-size: calc(100% / var(--grid-columns))
    calc(100% / var(--grid-rows));
  background-image: linear-gradient(
      to right,
      var(--grid-line-color) var(--grid-line-width),
      transparent var(--grid-line-width)
    ),
    linear-gradient(
      to bottom,
      var(--grid-line-color) var(--grid-line-width),
      transparent var(--grid-line-width)
    );
  background-position: 0 0;
  pointer-events: none;
}

.grid-item {
  position: relative;
  z-index: 1;
  padding: 1rem;
  overflow: hidden;
}

.intro-box {
  grid-column: 2 / span 5;
  grid-row: 3 / span 10;
  background-color: #fedc00;
  outline: var(--grid-line-width) solid var(--grid-line-color);
  outline-offset: calc(-1 * var(--grid-line-width));
}

.skills-box {
  grid-column: 6 / span 4;
  grid-row: 8 / span 4;
  background-color: white;
  z-index: 2;
  outline: var(--grid-line-width) solid var(--grid-line-color);
  outline-offset: calc(-1 * var(--grid-line-width));
}

.image-box {
  grid-column: 10 / span 6;
  grid-row: 5 / span 9;
  z-index: 3;
  padding: 0;
  outline: var(--grid-line-width) solid var(--grid-line-color);
  outline-offset: calc(-1 * var(--grid-line-width));
}

.learning-box {
  grid-column: 8 / span 11;
  grid-row: 2 / span 4;
  background-color: white;
  z-index: 2;
  outline: var(--grid-line-width) solid var(--grid-line-color);
  outline-offset: calc(-1 * var(--grid-line-width));
  display: flex;
  justify-content: space-around;
}

.reading-box {
  grid-column: 23 / span 4;
  grid-row: 5 / span 5;
  background-color: white;
  z-index: 2;
  outline: var(--grid-line-width) solid var(--grid-line-color);
  outline-offset: calc(-1 * var(--grid-line-width));
}

.grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h3 {
  font-family: "Rubik Mono One", monospace;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
}

.intro-text {
  font-family: Outfit, sans-serif;
  font-optical-sizing: auto;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

h3 {
  font-size: 25px;
}

ul {
  list-style-position: inside;
}

li {
  font-family: Outfit, sans-serif;
  font-optical-sizing: auto;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
}

.learning-header,
.reading-header,
.skills-header {
  padding-bottom: 1rem;
}

.lain {
  position: fixed;
  z-index: 1;
  bottom: 75px;
  right: 450px;
  width: 350px;
}
