/* Estilo general */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Selectores combinados */
header h1 {
  text-align: center;
  color: #1a13a5;
}

main section > h2 {
  color: #1976d9;
  margin-top: 20px;
}

h3 {
  color: #1976d9;
  margin-top: 10px;
}

/* Estilo para el nav */
nav {
    background-color: #333; /* Fondo oscuro */
    padding: 10px 0;
}

nav ul {
    list-style: none; /* Quitar viñetas */
    margin: 0;
    padding: 0;
    display: flex; /* Mostrar los elementos en línea */
    justify-content: center; /* Centrar los elementos */
}

nav ul li {
    margin: 0 15px; /* Espaciado entre los elementos */
}

nav ul li a {
    text-decoration: none; /* Quitar subrayado */
    color: white; /* Texto blanco */
    font-weight: bold;
    transition: color 0.3s; /* Animación suave para el hover */
}

nav ul li a:hover {
    color: #ff5733; /* Cambiar color al pasar el mouse */
}

/* Hover para elementos de lista */
ul li:hover {
  color: #3f7;
  cursor: pointer;
}

/* Otros estilos */
footer {
  text-align: center;
  padding: 10px;
  background-color: #cb9595;
  margin-top: 20px;
}
