html{
    background-color: antiquewhite;
}

p{
    color: red;
}

main div p{
    color: blue;
}

div .clase1{
    color: orange;
}

body > p{
    color: rgb(#8DE6E6);
}

div + p{
    color: green;
}

p:hover{
    color: red;
    text-align: center;
    border-radius: 10px;
    border-color: black;
}

p:not(.clase1){
    color:yellow
}

h1{
    color: skyblue;
}